<nav class="shadow cover w-100 p-2 d-flex d-md-none justify-content-center menuPort" style="opacity:0.9">
	<div class="serif" style="color:white;">
		<span><a class="link--major link--white">Menu</a></span>
	</div>
</nav>
<nav class="vw-100 vh-100 cover menuPort-display position-fixed" style="top:0;z-index:300;display:none">
	<span class="icon-close position-absolute p-4 menuPort-close font-weight-bold" style="color:white;top:0;right:0"></span>	
	<ul style="list-style:none;color:white;top: 50%;left: 50%;position: absolute;transform: translate(-50%, -50%)" class="p-0 m-0 font-weight-bold text-center">
		<li class="pb-5"><a class="link--major link--white" href="{{path('index')}}">Accueil</a></li>
		<li class="pb-4"><a class="link--major link--white" href="{{path('yoga')}}">Yoga</a></li>
		<li class="pb-4"><a class="link--major link--white" href="{{path('clown')}}">Clown</a></li>
		<li class="pb-4"><a class="link--major link--white" href="{{path('teambuilding')}}">Team-Building</a></li>
		<li class="pb-4"><a class="link--major link--white" href="{{path('bienetre')}}">Ayurvéda</a></li>
		<li class="pb-4"><a class="link--major link--white" href="{{path('organisation')}}">Séminaires</a></li>
		<li><a class="link--major link--white" href="{{path('contact')}}">Contact</a></li>
	</ul>
</nav>
<nav class="shadow cover w-100 position-fixed p-4 d-none d-md-flex justify-content-between" style="z-index:300;opacity:0.9">
	<div class="serif" style="color:white;">
		<span><a class="link--major link--white" href="{{path('index')}}">Accueil</a></span>
	</div>
	<div style="color:white;" class="serif">
		<span class="pr-4"><a class="link--major link--blue" href="{{path('yoga')}}">Yoga</a></span>
		<span class="font-weight-bold" style="color:#52B39F">/</span>
		<span class="pl-4 pr-4"><a class="link--major link--blue" href="{{path('clown')}}">Clown</a></span>
		<span class="font-weight-bold" style="color:#52B39F">/</span>
		<span class="pl-4 pr-4"><a class="link--major link--blue" href="{{path('teambuilding')}}">Team-Building</a></span>
		<span class="font-weight-bold" style="color:#52B39F">/</span>
		<span class="pl-4 pr-4"><a class="link--major link--blue" href="{{path('bienetre')}}">Ayurvéda</a></span>
		<span class="font-weight-bold" style="color:#52B39F">/</span>
		<span class="pl-4 pr-4"><a class="link--major link--blue" href="{{path('organisation')}}">Séminaires</a></span>
		<span class="font-weight-bold" style="color:#52B39F">/</span>
		<span class="pl-4"><a class="link--major link--blue" href="{{path('contact')}}">Contact</a></span>
	</div>
</nav>		
<nav class="cover w-100 p-4 invisible  d-none d-md-block">
	<div style="color:white;" class="serif">
		<span class="pr-4"><a class="link--major link--blue" href="{{path('yoga')}}">Yoga</a></span>
		<span class="font-weight-bold" style="color:#52B39F">/</span>
		<span class="pl-4 pr-4"><a class="link--major link--blue" href="#">Clown</a></span>
		<span class="font-weight-bold" style="color:#52B39F">/</span>
		<span class="pl-4 pr-4"><a class="link--major link--blue" href="#">Team-Building</a></span>
		<span class="font-weight-bold" style="color:#52B39F">/</span>
		<span class="pl-4 pr-4"><a class="link--major link--blue" href="#">Ayurvéda</a></span>
		<span class="font-weight-bold" style="color:#52B39F">/</span>
		<span class="pl-4 pr-4"><a class="link--major link--blue" href="#">Séminaires</a></span>
		<span class="font-weight-bold" style="color:#52B39F">/</span>
		<span class="pl-4"><a class="link--major link--blue" href="#">Contact</a></span>
	</div>
</nav>	