{% extends 'base.html.twig' %}

{% block title %}Éditer un élément{% endblock %}

{% block body %}

{% form_theme form with [
    'form/checkbox_form.html.twig'
] %}

<div class="pt-4">
  <a href="{{path('admin_edit_elements',{'category':category})}}" class="ml-4"><button type="button" class="btn btn-primary">Modifier un élément existant</button></a>
  <a href="{{path('admin')}}"><button type="button" class="btn btn-link">Retour à l'administration</button></a>  
</div>

{{ form_start(form, {'attr':{'class':'w-100 p-4', 'id':'form'}}) }}
    {{ form_errors(form) }}
    {% for type in form.type %}
    	{% set imgPath=asset('img/'~type.vars.value~'_block.jpg') %}
		{% set name = typeConst[type.vars.value].name %}
		{% set description = typeConst[type.vars.value].description %}
		{% set label = '
       		<img src="'~imgPath~'"/>
       		<div data-test="'~type.vars.value~'" class="m-2">
       			<h5><span data-checkbox="'~type.vars.value~'" class="icon-checkbox-unchecked"></span> '~name~'</h5>
       			<div><i>'~description~'</i></div>
       		</div>
       	' %}

       	{{ form_row(type, { 'label': label, 'label_attr': {'class': 'd-flex'} }) }}
    {% endfor %}
    {{ form_row(form.submit, { 'label': 'Configurer le nouvel élément', 'attr':{
    'class':'d-none'
   	}} ) }}    
{{ form_end(form) }}

{% endblock %}



{% block stylesheets %}
	<style>
	.form-group:not(:nth-last-child(1)) {
		background: white;
		padding: 2rem;
	}
	.form-group:first-child {
		border-radius:.25rem .25rem 0 0;
	}
	.form-group:nth-last-child(2) {
		border-radius:0 0 .25rem .25rem;
	}
	.form-group:not(:nth-last-child(1)) {
		border: 1px solid rgba(0,0,0,.125);;
	}
	.form-group div {
		margin: auto;
	}
	.form-check {
		border-radius:.25rem;
		overflow: hidden;
		padding: 0;
		width: 100%;
	}
	.form-check label {
		cursor: pointer;
	}
	.form-check label img {
		width: 40%;
		display: block;
	}
	.form-check input[type="radio"] {
		display: none;
	}
	</style>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		$('#form').change(function(e) {
			$('span[data-checkbox]').attr('class','icon-checkbox-unchecked');
			$('span[data-checkbox="'+$(e.target).val()+'"]').attr('class','icon-checkbox-checked');
			$('#element_submit').remove();
			$('div[data-test="'+$(e.target).val()+'"]').html($('div[data-test="'+$(e.target).val()+'"]').html()+'<button type="submit" id="element_submit" name="element[submit]" class="btn-primary btn mt-2">Configurer le nouvel élément</button>');
		});
	</script>
{% endblock %}