{% extends 'base.html.twig' %}

{% block title %}Éditer des coordonnées{% endblock %}

{% block body %}
  	{% for message in app.session.flashbag.get('notice') %}
    	<div class="mt-4 ml-4 mr-4 mb-0 alert alert-success">
      		<p class="m-2">{{ message }}</p>   
    	</div> 
  	{% endfor %}

    <div class="pt-4">
      {% if app.request.attributes.get('_route') == 'admin_new_element' %}
        <a href="{{path('admin_new_element',{'category':category})}}" class="ml-4"><button type="button" class="btn btn-primary">Ajouter un élément d'un autre type</button></a>
      {% else %}
        <a href="{{path('admin_edit_elements',{'category':category})}}" class="ml-4"><button type="button" class="btn btn-primary">Modifier un autre élément</button></a>
      {% endif %}
      <a href="{{path('admin')}}"><button type="button" class="btn btn-link">Retour à l'administration</button></a>  
    </div>

    <div style="background:white" class="rounded border p-4 m-4">
     	<h3>Ajout de coordonnées :</h3><hr/>
		{{ form(form) }}
    </div>
{% endblock %}

{% block stylesheets %}
  <style>
    label.required:before, legend.required:before {
        font-weight: bold;
        content: "* ";
    }
  </style>
{% endblock %}