{% extends 'base.html.twig' %}

{% block title %}Éditer des tarifs{% endblock %}

{% block body %}
  {% for message in app.session.flashbag.get('notice') %}
    <div class="mt-4 ml-4 mr-4 mb-0 alert alert-success">
      <p class="m-2">{{ message }}</p>   
    </div> 
  {% endfor %}

    <div class="pt-4">
      {% if app.request.attributes.get('_route') == 'admin_new_element' %}
        <a href="{{path('admin_new_element',{'category':category})}}" class="ml-4"><button type="button" class="btn btn-primary">Ajouter un élément d'un autre type</button></a>
      {% else %}
        <a href="{{path('admin_edit_elements',{'category':category})}}" class="ml-4"><button type="button" class="btn btn-primary">Modifier un autre élément</button></a>
      {% endif %}
      <a href="{{path('admin')}}"><button type="button" class="btn btn-link">Retour à l'administration</button></a>  
    </div>

    <div style="background:white" class="rounded border p-4 m-4">
      <h3>Ajout de tarifs :</h3><hr/>

      {% form_theme form with [
          'form/collection_form.html.twig'
      ] %}
      
      {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.content) }}
        <a href="#" id="add_field" class="btn btn-secondary">Ajouter un tarif</a>        
        {{ form_widget(form.fields, {'attr':{'style':'', 'class':''}}) }}
      {{ form_end(form) }}
    </div>
{% endblock %}

{% block stylesheets %}
  <style>
  #rate_fields>.form-group {
    margin: 1.5rem auto 1.5rem auto;
    padding:1.5rem;
    border-radius:.25rem;
    background: #f4f4f4;
  }
  
  label.required:before, legend.required:before {
      font-weight: bold;
      content: "* ";
  }
  </style>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
  $(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#rate_fields');

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $('#add_field').click(function(e) {
      addField($container);

      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });

    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    if (index == 0) {
      addField($container);
    } else {
      // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }

    // La fonction qui ajoute un formulaire FieldType
    function addField($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var template = $container.attr('data-prototype')
        .replace(/__name__label__/g, 'Tarif n°' + (index+1))
        .replace(/__name__/g,        index)
      ;

      // On crée un objet jquery qui contient ce template
      var $prototype = $(template);

      // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
      addDeleteLink($prototype);

      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }

    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {   
      var idField = $prototype.children("div").children("div").children("input[type=hidden]").val(),
      $deleteLink = $('<a href="#" class="btn btn-danger" data-field="'+idField+'">Supprimer</a>');

      // Ajout du lien
      $prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
      $deleteLink.click(function(e) {
        $prototype.remove();

        if ($.isNumeric(idField)) {
          $.ajax('{{ app.request.getSchemeAndHttpHost() }}{{app.request.baseUrl}}/api/rate/remove/field/'+$(e.target).attr('data-field'))
          .done(function(data) {
              data=JSON.parse(data);
          })
          .fail(function() {
              alert( "error" );
          });         
        }
        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });
</script>
{% endblock %}